body {
    background-color: black;
    color: antiquewhite;
    font-family: Verdana;
}

.container {
    max-width: 500px;
    margin: 40px auto;
    padding: 20px;
    border: 2px solid aquamarine;
    border-radius: 20px;
}